*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  min-height: 100vh;
  box-sizing: border-box;
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-repeat: no-repeat;
  display: flex;
  color: hsl(240, 6%, 50%);
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container {
  max-width: 850px;
  width: 98%;
  margin: 0 auto;
}
.card {
  height: 70vh;
  margin: 0 auto;
  display: flex;
  gap: 6rem;
  background-color: white;
  position: relative;
  border-radius: 15px;
}

.card__img--desktop {
  flex: 6;
  background-image: url(images/bg-pattern-desktop.svg);
  background-position-x: 100%;
  background-position-y: 70%;
  background-repeat: no-repeat;
}
.card__img-box {
  position: absolute;
  top: 36%;
  left: -10%;
  z-index: 1;
  width: 20%;
}
.card__img--desktop {
  overflow: hidden;
}
.card__img-woman {
  position: relative;
  top: 14%;
  left: -22%;
  width: 115%;
}
.card__img--mobile {
  display: none;
}
.card__content {
  margin: 4rem;
  flex: 6;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.accordion {
  max-width: 345px;
}
.accordion__input {
  display: none;
}
h1 {
  color: hsl(238, 29%, 16%);
  font-weight: 700;
  font-size: 3.6rem;
  margin-bottom: 1rem;
}
.accordion__label {
  position: relative;
  width: 100%;
  display: inline-block;
  font-weight: 700;
  border-bottom: 1px solid hsl(240, 5%, 91%);
  cursor: pointer;
  margin-bottom: 2rem;
  transition: background 0.1s;
  padding-bottom: 1.5rem;
}
.accordion__label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  right: 0px;
  width: 12px;
  height: 6px;
  background-image: url(images/icon-arrow-down.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.accordion__content {
  max-width: 90%;
  background: #ffffff;
  line-height: 1.6;
  display: none;
}
.accordion__label:hover {
  color: hsl(14, 88%, 65%);
}
.accordion__input:checked ~ .accordion__content {
  display: block;
}
.accordion__input:checked ~ .accordion__label {
  color: hsl(238, 29%, 16%);
  font-weight: 700;
}
.accordion__input:checked ~ .accordion__label::after {
  transform: translate(-80%, -50%) rotate(0.5turn);
}

@media (max-width: 740px) {
  .container {
    margin-top: 15rem;
  }
  h1 {
    text-align: center;
  }
  .card {
    height: auto;
    margin: 0 2rem;
    flex-direction: column;
    gap: 2rem;
  }
  .card__img--desktop {
    display: none;
  }
  .card__img--mobile {
    background-image: url(images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    overflow: visible;
  }
  .card__img--mobile img {
    display: inline;
    width: 80%;
    margin-top: -36%;
    margin-left: 0;
  }
}
